
 td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
textarea {
    resize: none;
 }

 
 input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px dashed #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}


#uploadButton{ 
  background-color: rgb(106, 160, 190);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

#uploadButton:hover {
  background-color: rgb(58, 117, 148);
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 25px 264px 5px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: rgb(106, 160, 190);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



/* select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
} */

#formID {
width: 550px;
margin:0 auto;
text-align: center;
} 


input {
  width: 50%;
}


input[type="submit"]:hover {
background-color: rgb(58, 117, 148);
}

.well {
background: rgb(255, 255, 255);
}

h2{
color: rgb(0, 0, 0)
}

