<h1 align="center">Login</h1>

<br>

<div id="formID" class="well">
  <form (submit)="onLoginSubmit()">
    <label>Username</label>
    <div>
      <input type="text" class="form-control" [(ngModel)]="username" name="username" style=" width: 65%;display:inline-block;">
    </div>

    <label>Password</label>
    <div>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" style=" width: 65%;display:inline-block;">
    </div>
    <br>
    <input type="checkbox" name="rememberme" [(ngModel)]="rememberme" style=" width: 5%;display:inline-block; margin: 20px 0px;    "> Remember me
    <br>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Login">

  </form>
  <br>
  <br>
</div>