input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  button{
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 16px;
  }

  #checkUnCheck{
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 30px;
  }

  #wrapper {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #saveDelete {
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 9px;
  }

  th{
    text-align: center;
    height: 25px;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    vertical-align: middle;
    border: 1px solid rgb(66, 63, 63)
  } 

  h3 {
    font-size: 1.9em;
    vertical-align: middle;
  }

  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
    background-position: 0px;
  }
