<h1 align="center">Register</h1>

<br>

<div id="formID" class="well">
  <form (submit)="onRegisterSubmit()">
    <label>Username</label>
    <div class="form-group">
      <input type="text" [(ngModel)]="username" name="username" class="form-control" style=" width: 65%;display:inline-block;">
    </div>
    <label style="padding: 25px 293px 5px 0">Email</label>
    <div class="form-group">
      <input type="text" [(ngModel)]="email" name="email" class="form-control" style=" width: 65%;display:inline-block;">
    </div>
    <label>Password</label>
    <div class="form-group">
      <input type="password" [(ngModel)]="password" name="password" class="form-control" style=" width: 65%;display:inline-block;">
    </div>
    <label style="padding: 25px 203px 5px 0">Re-enter Password</label>
    <div class="form-group">
      <input type="password" [(ngModel)]="passwordReenter" name="passwordReenter" class="form-control" style=" width: 65%;display:inline-block;">
    </div>
    <br>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  <br>
  <br>
</div>