<div class="jumbotron text-center">
    <h1>Question generation App</h1>
      <p class="lead"> Welcome to Question generation application</p>

      <div>
        
        <!-- <a class="btn btn-default" [routerLink]="['/login']"> Login </a> -->
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3> Create groups </h3>
          <p> Share documents, questions and ideas </p>
        </div>
        <div class="col-md-4">
          <h3> Register </h3>
          <p> Create an account to access all features</p>
          <!-- <a class="btn btn-primary" [routerLink]="['/register']"> Register </a> -->
        </div>
        <div class="col-md-4">
          <h3> Simply use the tool</h3>
          <p> Generate questions with the tool</p>
        </div>
      </div>
      
</div>