<h1  align="center">Create new group</h1>
<br>
<div id="formID" class="well">
  <form (submit)="onCreateGroup()">

    <div class="group-name" id="groupName">
      <label>
        <h2>Group name</h2>
      </label>
      <input type="text" [(ngModel)]="name" name="name" class="input-name" required oninvalid="this.setCustomValidity('Please Enter a name for the group')" oninput="setCustomValidity('')">
    </div>

    <div class="group-school">
      <label>
        <h2>School / Organization name (Optional)</h2>
      </label>
      <input type="text" [(ngModel)]="school" name="school" class="input-school" >
    </div>

    <div class="group-setting">
      <label for="setting">
        <h2>Choose a privacy setting </h2>
        <h4> (Global is defaulted if neither is chosen)</h4>
      </label>
    <br>
      <label>
        <input type="radio" [(ngModel)]="setting" name="setting" class="form-control" id="global" value=1 >
        <div>
          <p align="center" style="font-size:130%;">Global</p>
          <p align="center" style="font-size:90%;">Anyone can view and join the group from browse groups</p>
          <div style="text-align: center;">
            <span class="glyphicon glyphicon-globe"></span>
          </div>
        </div>
      </label>

      <label>
        <input type="radio" [(ngModel)]="setting" name="setting" class="form-control" id="private" value=2>
        <div>
          <p align="center" style="font-size:130%;">Private</p>
          <p align="center" style="font-size:90%;">New members can only join with an invite from the admin</p>
          <div style="text-align: center;">
            <span class="glyphicon glyphicon-user"></span>
          </div>
        </div>
      </label>

    </div>
    <br>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Create group" align="center">
  </form>
  <br>
</div>
